$red-pastel: #962f2d;
$blue-pastel: #006eb1;

$colors: ('dark-grey': #212529,
  'white': #ffffff,
  'purple': #9c27b0);

$breakpoints: ('phone': 320px,
  'tablet': 640px,
  'small-desktop': 992px,
  'desktop': 1200px,
  'big-desktop': 1600px);
